{% extends "base.html" %}
{% block title %} Payment {%endblock%}

{% block content %}

<style>
    .container {
        position: relative;
        width: 100vw;
        height: auto;
        background-image: url('static/images/trains.jpg');
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .container2 {
        position: center; 
        margin-bottom: 200px;
        max-width: 800px;
        margin: 0 auto;
        padding: 30px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        background-repeat: no-repeat;
        border: 2px solid #000; 
        border-radius: 10px; 
        padding: 20px; 
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    }

    .cart, .train-details, .payment-info {
        margin-bottom: 20px;
        border: 2px solid black;
        padding: 10px;
    }

    ul {
    list-style-type: none;
    padding: 0;
    }

    .payment-info label {
        display: block;
        margin-bottom: 5px;
    }

    .payment-info input[type="text"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
    }

    .payment-info button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .payment-info button:hover {
        background-color: #0056b3;
    }
</style>

<div class="container2">
    <div class="containercont">
        <h2>Cart</h2>

        <div class="cart">
            <h2>Selected Seats</h2>

            <ul>
                {% for number in seat_nums %}
                    <li>{{number}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="train-details">
            <h2>Train Details</h2>
            <p>Train Number: {{trains.train_id}}</p>
            <p>Route Number: {{route.route_id}}</p>
            <p>Date: {{ route.date }}</p>
            <p>Departure Time: {{ route.depart_time }}</p>
            <p>Arrival Time: {{ route.arrival_time }}</p>
            <p>Departure Location: {{ route.depart_location }}</p>
            <p>Destination: {{ route.destination }}</p>
        </div>

        <div class="payment-info">
            <form method="POST">
                <label for="card_number">Card Number:</label>
                <input type="text" id="card_number" name="card_number" required><br><br>

                <label for="expiry_date">Expiry Date:</label>
                <input type="text" id="expiry_date" name="expiry_date" placeholder="MM/YY" required><br><br>

                <label for="cvv">CVV:</label>
                <input type="text" id="cvv" name="cvv" required><br><br>

                <button type="submit">Confirm Payment</button>
            </form>
        </div>
        
    </div>
</div>

{% endblock %}